<!DOCTYPE html>
<html lang ="en" dire="ltr">
  <head>
      <%- include ('./partials/head.ejs') %>
  </head>
  <body>
    <div class="container">
      <!-- ============ HEADER ============ -->
      <%- include('./partials/header.ejs') %>
    <a href="/travelblog" class="btn btn-info" role="button">Home</a>
    <form action="/travelblog/<%=placeData._id%>?_method=PUT" method="POST">
      Destination: <input type="text" required="required" name="destination" value="<%placeData.destination%>"> <br/>
      Image url: <input type="url" name="img" value="<%placeData.img%>"> <br/>
      Languages: <input type="text" name="languages" value="<%placeData.languages%>"> <br/>
      Population: <input type="text" name="population" value="<%placeData.population%>"> <br/>
      Year Traveled: <input type="text" name="yearTraveled" value="<%placeData.yearTraveled%>"> <br/>
      Fun Fact: <input type="text" name="funFact" value="<%placeData.funFact%>"> <br/>
      Known For: <input type="text" name="knownFor" value="<%placeData.knownFor%>"> <br/>
      Things to do: <input type="url" name="thingToDo" value="<%placeData.thingsToDo%>"> <br/>
      <input type="submit" value="confirm changes"/>
    </form>
    </div>
    <!-- ============ FOOTER ============ -->
      <%- include ('./partials/footer.ejs') %>
  </body>
  </html>
