<!DOCTYPE html>
<html lang ="en" dire="ltr">
  <head>
      <%- include ('./partials/head.ejs') %>
  </head>
  <body>
    <div class="container">
      <!-- ============ HEADER ============ -->
      <%- include('./partials/header.ejs') %>
    <h1>New Destination</h1>
    <form action="/travelblog" method="POST">
      Destination: <input type="text" name="destination"> <br/>
      Image url: <input type="url" name="img"> <br/>
      Languages: <input type="text" name="languages"> <br/>
      Population: <input type="text" name="population"> <br/>
      Year Traveled: <input type="text" name="yearTraveled"> <br/>
      Fun Fact: <input type="text" name="funFact"> <br/>
      Known For: <input type="text" name="knownFor"> <br/>
      Things to do: <input type="url" name="thingToDo"> <br/>
      <input type="submit" value="confirm changes"/>
    </form>
    </div>
    <!-- ============ FOOTER ============ -->
      <%- include ('./partials/footer.ejs') %>
  </body>
  </html>
